@charset "UTF-8";
@import "vars";
@import "mixins";
/* Create by Yexiaoyi on 2014-10-24*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
marquee,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  /*-ms-touch-action: none;*/
  /*touch-action: none;*/
  /*-webkit-user-select: none;*/
  /*-moz-user-select: none;*/
  /*-ms-user-select: none;*/
  /*user-select: none;*/
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}

a {
  outline: none;
  -webkit-appearance: none;
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  outline-offset: 0;
}

body {
  overflow-x: visible;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: $font;
  font-size: $font_size_common !important;
  color: $font-color;
  backface-visibility: hidden;
}

.button {
  display: block;
  background-color: $main_color;
  color: #FFFFFF;
  text-align: center;

  &:active{
      background-color: $bg_btn_active;
  }
}

.button--big {
  line-height: $button_height;
  @include size($button_width_big, $button_height);
}

.button--disabled {
  background-color: $bg_btn_disabled;
  &:active{
      background-color: $bg_btn_disabled;
  }
}

.button--mc{
    margin-left: auto;
    margin-right: auto;
}
